<div id="wrapper">
    <mat-toolbar>
        <b></b>
        Introduction <button mat-icon-button mat-dialog-close (click)="onDelete()"><mat-icon>close</mat-icon></button>
    </mat-toolbar>

    <p>
        Turning Brain has more than 2000 MCQs for exam preparation. Every test contains 20 MCQs randomly. When you mark
        an answer, the green mark is the right answer, red as wrong. At the end of the test, you will receive your
        results. You can<b>review</b>  your questions and answers<b>only once</b>  after completing the test.
    </p>
</div>