<div id="wrapper">
    <mat-toolbar>
        <button mat-icon-button routerLink="/home"><mat-icon>keyboard_arrow_left</mat-icon></button>
        <span> Contact Us </span>
        <button mat-icon-button ></button>
    </mat-toolbar>

    <div id="content">
        <div class="imgarea">
            <img src="../../../assets/icon/contact.svg" alt="">
        </div>
        <div class="socialmediya">

            <a href="tel:9910956804">
                <button mat-stroked-button color="primary"> <mat-icon> phone</mat-icon> Call Us</button>
            </a>

            <a (click)="RequstCall()">
                <button mat-stroked-button color="primary"> <mat-icon> phone</mat-icon> Request a call back </button>
            </a>

            <a href="mailto:turningbrn@gmail.com">
                <button mat-stroked-button color="primary"> <mat-icon> email</mat-icon> Mail </button>
            </a>
            <a> Follow Us</a>

        </div>

        <div class="social-menu">
            <ul>
                <li><a href="" target="blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="" target="blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="" target="blank"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href=""><i class="fab fa-codepen" target="blank"></i></a></li>
            </ul>
        </div>

        <div class="social-menu">
            <ul>
                <li><a href="https://www.facebook.com/drpreetityagilectures?mibextid=ZbWKwL" target="blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>

                <li><a href="https://www.instagram.com/drpreetityagiphysiology/" target="blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>

                <li><a href="https://twitter.com/drpreetityagi" target="_blank"> <i
                            class="fa-brands fa-x-twitter fab"></i></a></li>

                <li><a href="https://www.youtube.com/@dr.preetityagilectures874" target="_blank"><i
                            class="fab fa-youtube"></i></a>
                </li>
            </ul>
        </div>
    </div>

</div>