<div id="wrapper">
    <mat-toolbar>
        <button mat-icon-button routerLink="/home"><mat-icon>keyboard_arrow_left</mat-icon></button>
        <span> Change Password </span>
        <span></span>
    </mat-toolbar>

    <div id="content">
        <form [formGroup]="chnagePassword" id="from_area">

            <br><br>
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Old Password </mat-label>
                <input type="text" matInput placeholder="Enter old password" formControlName="old_password">
            </mat-form-field>

            <br>
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>New Password</mat-label>
                <input  matInput  type="text" placeholder="Abc@1234" formControlName="password" #password>

                <mat-hint align="end" *ngIf="chnagePassword.get('password')?.errors?.['required']">
                    Password is required
                </mat-hint>
                <mat-hint align="end" *ngIf="chnagePassword.get('password')?.errors?.['minlength']">
                    Password must be at least 8 characters long
                </mat-hint>
                <mat-hint align="end" *ngIf="chnagePassword.get('password')?.errors?.['pattern']">
                    Invalid password format
                </mat-hint>

            </mat-form-field>
            <br>
            <br>
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Confirm Password</mat-label>
                <input (keyup)="Cpass($event)" type="text" matInput placeholder="Enter confirm password" formControlName="Cpassword">
                <mat-hint *ngIf="CPwd">
                    Password not match
                </mat-hint>

            </mat-form-field>
        </form>
        <button class="btn" (click)="onSubmit()">Submit</button>
    </div>    
</div>