<div id="wrapper">
    <div class="notshared">
    </div>

    <div id="videoarea">
        <iframe width="100%" height="100%" [src]="safeUrl" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen>
        </iframe>
        <div class="hidefullscrreen"><img src="../../assets/fulllogoo.png" width="100%" height="100%" alt=""></div>
    </div>

    <div class="description">
        <p class="title" style="color: #0f0f0f;">{{video_title}}</p>
        <p>{{video_desc}} </p>
    </div>

    <div id="videolistbox">
        <div class="cardlist" *ngFor="let video of video_data" (click)="onPlay(video)">
            <div class="card_img">
                <img src="../../../assets/icon/mamimg.jpg" alt="" width="100%" height="100%">
            </div>
            <div class="content">
                <div class="titile">
                    <b *ngIf="video.VideoType == 'Paid' " ngClass="{{SubscriptionStatus == 1? 'PaymentPay' : 'paid'}}">
                        <mat-icon> {{SubscriptionStatus == 1? 'lock_open' : 'lock'}}</mat-icon>PRO</b>
                    <b *ngIf="video.VideoType == 'Unpaid' " class="free"><mat-icon>lock_open</mat-icon>FREE</b>

                    <p>{{video.VideoTitle}}</p>
                </div>

                <div class="star">
                    <img src="../../../assets/icon/star.png" alt="" width="20px" height="20px">
                    4.6&nbsp; | {{video.Duration}} Min video
                </div>
            </div>
        </div>
    </div>

</div>