<div id="wrapper">
    <mat-toolbar>
        <button mat-icon-button routerLink="/home"><mat-icon>keyboard_arrow_left</mat-icon></button>
        <span> Setting </span>
        <span></span>
    </mat-toolbar>

    <div id="content">
        <p routerLink="/chnagePassword"> <img src="../../../assets/icon/chnagepwd.png" alt="" width="30px" height="30px" > Chnage Password</p>
        
        <!-- <p> <img src="../../../assets/icon/them.png" alt="" width="30px" height="30px"> Them </p> -->
       <br> <p (click)="onLogout()"> <img src="../../../assets/icon/logoutt.png" alt="" width="30px" height="30px"> Logout</p>
    </div>


</div>