<div id="wrapper">
    <mat-toolbar>
        <button mat-icon-button routerLink="/QBsubjectList"><mat-icon>keyboard_arrow_left</mat-icon></button>
        <span> Exam Preparation </span>
        <span></span>
    </mat-toolbar>

    <div class="titileCard">
        <b>UNIT</b>
    </div>

    <div id="box">
        <mat-card class="example-card" *ngFor="let unit of unit_data" (click)="OnVideos(unit.Id)">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{unit.Unit}}</mat-card-title>
            </mat-card-header>
        </mat-card>

    </div>
</div>