<div id="wrapper">
    <mat-toolbar>
      <button mat-icon-button routerLink="/"><mat-icon>keyboard_arrow_left</mat-icon></button>

      <span></span>
    </mat-toolbar>
    <div id="header">
        <img src="../../../assets/icon/countery.jpg" alt="" width="200px" height="200px">
    </div>
    
    <div class="box">
        <h2><b>What is Your college country ?</b> </h2 ><br><br>
        <button class="btn" (click)="onCountry('India')" >India</button >
            <br><br>
        <button class="btn" (click)="onCountry('Other')" >Other</button >

    </div>
</div>