#wrapper{
    width: 100%;
    height: 100vh;
}
mat-toolbar{
    display: flex;
    color: whitesmoke;
    justify-content: space-between;
    background-color: #f19109;
}


#header{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    
}


.box{
    width: 80%;
    height: 400px;
    position: relative;
    top: 100px;
    margin: 0px auto;
}

.btn{
    width: 80%;
    height: 50px;
    border-radius: 50px;
    background-color: #30517a;
    font-size: 20px;
    color: whitesmoke;
    position: relative;
    left: 10%;
}