#wrapper {
    width: 100%;
    height: auto;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

mat-toolbar {
    display: flex;
    justify-content: space-between;

}

#head {

    color: whitesmoke;
    background-color: #f19109;
}
.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('../../../assets/icon/upi.jpg');
    background-size: cover;
  }

  h1{
     padding: 20px;
  }