<div id="wrapper">
    <mat-toolbar>
        <button mat-icon-button routerLink="/mcqSubject"><mat-icon>keyboard_arrow_left</mat-icon></button>
        <span> MCQ TEST </span>
        <span></span>
    </mat-toolbar>

    <div class="titileCard">
        <b>Unit</b>
    </div>

    <div id="box">
        <mat-card class="example-card"  (click)="onMix()">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image1"></div>
                <mat-card-title>Mix Units Test </mat-card-title>
            </mat-card-header>
        </mat-card>

        <mat-card class="example-card" *ngFor="let unit of unit_data" (click)="OnUnit(unit.Id)">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{unit.Unit}}</mat-card-title>
            </mat-card-header>
        </mat-card>
    </div>
</div>