<div id="wrapper">
    <mat-toolbar color="primary">
        Registration
    </mat-toolbar>

    <div id="box">
        <form [formGroup]="regForm" id="from_area">

            <br><br>
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Name</mat-label>
                <input type="text" matInput  placeholder="Enter your name" formControlName="name">
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="Enter your email" formControlName="email">
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Course </mat-label>
                <mat-select placeholder="Select State" formControlName="course">
                    <mat-option  value="Phy">Phy</mat-option>
                    <mat-option *ngFor="let course of courses" [value]="course.course_name">{{ course.course_name }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Your Country </mat-label>
                <mat-select #cu placeholder="Select State" (valueChange)="getCollage($event)" formControlName="country">
                    <mat-option *ngFor="let country of countryList" [value]="country">{{ country }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="cu.value == 'India'" appearance="outline" class="example-full-width">
                <mat-label>Your College State</mat-label>
                <mat-select placeholder="Select State" (valueChange)="getCollage($event)" formControlName="state">
                    <mat-option *ngFor="let state of statesAndUTs" [value]="state">{{ state }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Your College Name</mat-label>
                <input #input type="text" placeholder="Type 1st chracters to search." matInput formControlName="college"
                    [matAutocomplete]="auto" (input)="filter()" (focus)="filter()">
                <mat-autocomplete requireSelection #auto="matAutocomplete">
                    <mat-option *ngFor="let collage of filteredOptions"
                        [value]="collage.collage">{{collage.collage}}</mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="text" placeholder="Abc@1234" (keyup.enter)="onSubmit()" >

                <mat-hint align="end" *ngIf="regForm.get('password')?.errors?.['required']">
                    Password is required 
                </mat-hint>
                <mat-hint align="end" *ngIf="regForm.get('password')?.errors?.['minlength']">
                    Password must be at least 8 characters long
                </mat-hint>
                <mat-hint align="end" *ngIf="regForm.get('password')?.errors?.['pattern']">
                    Invalid password format
                </mat-hint>

            </mat-form-field>



            <br><br>
            <button class="btn" (click)="onSubmit()">SignUp</button>
            <br><br>


            <span class="login">Do you have an account ? <a routerLink="/">Login</a></span>

        </form>

    </div>
</div>