#wrapper {
    width: 100%;
}

mat-toolbar{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f49004;
}

#box {
    width: 100%;
}

#from_area {
    width: 80%;
    margin: 0px auto;
}

.example-full-width {
    width: 100%;
}


   

.btn{
    width: 100%;
    height: 60px;
    border-radius: 50px;
    background-color: #30517a;
    font-size: 25px;
    color: whitesmoke;
}