<div id="wrapper">

    <div id="videoarea">
        <div class="header">
            <button mat-icon-button routerLink="/home/subject/unit/videos"> <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
        </div>
        <div class="content">
            <p>Exclusive content is accessible to Pro users. They enjoy exclusive content, including tutorials, case
                studies, quizzes, and live webinars, enriching their learning experience. Priority support ensures
                uninterrupted focus on course objectives, making the path to educational success clearer and more
                rewarding.</p>
            <br>

            <mat-toolbar class="btnnn">
                <button mat-raised-button class="btn1" routerLink="/premiumSbject">View Plans</button> <br> <br>

            </mat-toolbar>
            <mat-toolbar  class="btnnn">

                <button mat-stroked-button class="btn2" routerLink="/home/subject/unit/videos">Go back</button>

            </mat-toolbar>

        </div>
    </div>
    <mat-toolbar class="footer"></mat-toolbar>
</div>