<div id="wrapper">
    <mat-toolbar>
        <button mat-icon-button routerLink="/home"><mat-icon>keyboard_arrow_left</mat-icon></button>
        <span> About us </span>
        <span></span>
    </mat-toolbar>

    <div id="content">
        <h1>About Dr.Preeti Tyagi</h1>
        Dr. Preeti Tyagi (MBBS, MD) is widely recognized as one of the top Medical Physiology faculty in India. With a
        decade of dedicated service in the medical field, she brings over ten years of experience in teaching students
        across various medical disciplines including MBBS first year, Foreign Medical graduates (FMGE), NEET-PG, BDS,
        BAMS, Nursing and other allied medical sciences. Dr. Tyagi excelled in her academic pursuits, securing the 6th
        rank during her MBBS entrance exam. Dr. Tyagi's teaching style is renowned for its effectiveness, setting her
        apart as an exceptional educator. For those seeking access to her Physiology video lectures, The Turning Brain
        App is Best Mobile Application for Medical Students.
        <br><br>
        <p class="devloped">Developed by</p>
        <img src="../../../assets/icon/macreellogo.png" alt="">
        <br><br>
    </div>

    <!-- Macreel Infosoft Pvt.Ltd. -->

</div>