#wrapper{
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

mat-toolbar{
    display: flex;
    color: whitesmoke;
    justify-content: space-between;
    background-color: #f19109;
}

#content{
    width: 80%;
    height: calc(100vh - 90px);
    overflow-x: auto;
    margin: 30px auto;
    text-align: justify;
    font-size: 15px;
    line-height: 25px;
    word-spacing: 3px;
    letter-spacing: 1px;
    scrollbar-width: none;
}

.devloped{
    color: red;
    font-size: 30px;
    padding: 10px 0px;
}


