<div id="wrapper">
    <mat-toolbar>
        <button mat-icon-button routerLink="/premiumSbject"><mat-icon>keyboard_arrow_left</mat-icon></button>
        <span>Premium</span>
        <span></span>
    </mat-toolbar>
    <br>

    <body>
        <main>
            <div *ngFor="let premium of premium_data" class="card-basic" (click)="onPayment(premium)">
                <div [ngClass]="(premium.Id % 2 === 0) ? 'card-header header-basic' : 'card-header header-premium'">
                    <h1>{{premium.OneMonths}} </h1>
                </div>

                <div class="card-body">
                    <h2>{{premium.Price1months | currency :'INR' }}</h2>

                    <div class="card-element-hidden-basic">
                        <ul class="card-element-container">
                            <li class="card-element" *ngIf="premium.Feature1">{{premium.Feature1}}</li>
                            <li class="card-element" *ngIf="premium.Feature2">{{premium.Feature2}} </li>
                            <li class="card-element" *ngIf="premium.Feature3">{{premium.Feature3}} </li>
                            <li class="card-element" *ngIf="premium.Feature4">{{premium.Feature4}} </li>
                        </ul>
                        <button [ngClass]="(premium.Id % 2 === 0) ? 'btn btn-basic' : 'btn btn-premium'">BUY
                            NOW</button>
                    </div>
                </div>
            </div>


            <!-- <div class="card-premium"  (click)="onPayment(1)">
                <div class="card-header header-premium">
                    <h1>{{premium_data[1].package_name}}</h1>
                </div>
                <div class="card-body">

                    <h2>{{premium_data[1].mrp| currency :'INR' }}</h2>


                    <div class="card-element-hidden-premium">
                        <ul class="card-element-container">
                            <li class="card-element">{{premium[1].plan_p1}}</li>
                            <li class="card-element"> {{premium[1].plan_p2}}</li>
                            <li class="card-element"> {{premium[1].plan_p3}}</li>
                            <li class="card-element">{{premium[1].plan_p4}} </li>
                        </ul>
                        <button class="btn btn-premium">BUY NOW</button>
                    </div>
                </div>
            </div> -->
        </main>
    </body>

    <div id="footer">
        <mat-card>
            <h1>Instruction</h1>
            <p>To ensure smooth transactions and a hassle-free experience, please remember to complete your payment on
                your mobile device within the app without navigating away. Your cooperation in this matter is greatly
                appreciated and helps us maintain efficient service for all our users.</p>
           
        </mat-card>
        <mat-card>
            <h1>Have more queries ?</h1>
        </mat-card>
        <a href="tel:9910956804">
            <mat-card>
                <p><mat-icon [classList]="9910956804"> call</mat-icon>&nbsp;Call us to know more about the plan. </p>
            </mat-card>
        </a>

        <a (click)="RequstCall()">
            <mat-card>
                <p><mat-icon> call</mat-icon>&nbsp; Request a call back </p>
            </mat-card>
        </a>

        <a href="mailto:turningbrn@gmail.com">
            <mat-card>
                <p><mat-icon> email</mat-icon>
                    &nbsp; Email : turningbrn@gmail.com</p>
            </mat-card>
        </a>


        <mat-card>
            <h3><a routerLink="/term">Privacy policy</a> </h3>
        </mat-card>
    </div>
</div>