<div id="wrapper">
    <mat-toolbar>
        <button mat-icon-button routerLink="/home"><mat-icon>keyboard_arrow_left</mat-icon></button>
        <span> Terms and Conditions </span>
        <button mat-icon-button ></button>

    </mat-toolbar>

    <div id="content">

        <b style="color: #f87941;">Privacy Policy</b>
        <p>
            As we strive to deliver optimal services, Turning Brain adheres to stringent privacy policies, subject to
            periodic updates without prior notice. By using our services, you agree to accept any such changes. We
            collect two types of information: personal details voluntarily provided and aggregated App/Web usage data.
            Registration entails furnishing necessary information to validate access to specific resources, enhance user
            experience, and facilitate support services. While participation is optional, it may affect access to
            certain features. Our mobile App operates under defined terms of use, offering information for general use.
            We take measures to ensure data security and confidentiality.
        </p>

        <b style="color: #f87941;">Information Collection and Security</b>
        <p>We collect and handle personal and sensitive data to provide and manage our services effectively. This
            includes enforcing terms of use, monitoring activity, and assisting users. We prioritize data security
            through mandated practices and policies, ensuring confidentiality and compliance</p>
        <br>

        <b style="color: #f87941;">Material Access and Refund Policy</b>
        <p>Access to Turning Brain's materials varies based on subscription status, with paid users enjoying
            comprehensive content privileges. However, users are urged to review free content before subscribing.
            Refunds are not provided once payment is completed in any condition, but assistance is extended for
            resolving account-related issues promptly. Turning Brain content will be available only for one user on the
            mobile device by which payment will be done. It will not be accessible on other devices. All material is
            just for knowledge only. We are trying to provide the right information as best as possible but human error
            may occur. There will be no legal responsibilities of the company as well as faculty involved for content.
        </p>

        

        <br><br>





    </div>


</div>