<div id="wrapper">
    <mat-toolbar>
        <button mat-icon-button routerLink="/"><mat-icon>keyboard_arrow_left</mat-icon></button>
        <span> Forget Password </span>
        <span></span>
    </mat-toolbar>
    <div id="content">
        <div id="wrapper">
            <div id="imgarea">
                <img src="../../assets/icon/forgetpassword.png" width="200px" height="200px" >
            </div>
            <br><br>
            <!-- for send otp  -->
            <div *ngIf="send_otp">
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Registered Email</mat-label>
                    <input #email type="text" matInput placeholder="Enter your registered email"  (keyup.enter)="sendOTP(email.value)" >
                </mat-form-field>

                <button class="btn" (click)="sendOTP(email.value)">Verify</button>
            </div>

            <!-- for verify otp  -->
            <div *ngIf="verify_otp">
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Enter OTP</mat-label>
                    <input #otp type="text" matInput placeholder="Enter otp " (keyup.enter)="verifyOTP(otp.value)">
                    <mat-hint  >
                        Check email {{email}}
                    </mat-hint>
                </mat-form-field>
                <button class="btn" (click)="verifyOTP(otp.value)">Verify</button>
            </div>

                <!-- for chaneg password  -->



            <div *ngIf="passwordChange">
                <form [formGroup]="passwordForm">

              
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>New Password</mat-label>
                    <input (keyup.enter)="chnagePassword(password.value)" matInput  type="text" placeholder="Abc@1234" formControlName="password" #password>
    
                    <mat-hint align="end" *ngIf="passwordForm.get('password')?.errors?.['required']">
                        Password is required
                    </mat-hint>
                    <mat-hint align="end" *ngIf="passwordForm.get('password')?.errors?.['minlength']">
                        Password must be at least 8 characters long
                    </mat-hint>
                    <mat-hint align="end" *ngIf="passwordForm.get('password')?.errors?.['pattern']">
                        Invalid password format
                    </mat-hint>
    
                </mat-form-field>
                <br><br>
          
    
            <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Confirm Password</mat-label>
                    <input (keyup)="Cpass($event)" type="text" matInput placeholder="Enter confirm password" formControlName="Cpassword">
                    <mat-hint *ngIf="CPwd">
                        Password not match
                    </mat-hint>

                </mat-form-field>

                <button class="btn" (click)="chnagePassword(password.value)">Submit</button>
            </form>
            </div>









            <!-- <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Password</mat-label>
                        <input (keyup.enter)="onSubmit()" matInput formControlName="Password" type="text" placeholder="Abc@1234">
        
                        <mat-hint align="end" *ngIf="regForm.get('password')?.errors?.['required']">
                            Password is required
                        </mat-hint>
                        <mat-hint align="end" *ngIf="regForm.get('password')?.errors?.['minlength']">
                            Password must be at least 8 characters long
                        </mat-hint>
                        <mat-hint align="end" *ngIf="regForm.get('password')?.errors?.['pattern']">
                            Invalid password format
                        </mat-hint>
        
                    </mat-form-field> -->





        </div>
    </div>