#wrapper {
    width: 100%;
    height: auto;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

mat-toolbar {
    display: flex;
    justify-content: space-between;
}

#head {
    color: whitesmoke;
    background-color: #f19109;
}

#mainarea {
    width: calc(100% - 40px);
    height: calc(100vh - 165px);
    padding-top: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: 20px;
    border-radius: 10px;
}

table {
    width: calc(100% - 20px);
    border-collapse: collapse;
    margin: 0px 10px;
}


td {
    padding: 15px 5px;
}

.tdno {
    color: rgb(8, 8, 126);
    border: 0.5px solid gainsboro;

}

.finalprice {
    color: green;
    font-weight: bold;
    font-size: 18px;
    border: 0.5px solid gainsboro;

}

#footers {
    position: absolute;
    bottom: 50px;
    left: 0px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.notification{
    width: 80%;
    height: 85px;
}

.paynow {
    width: 80%;
    height: 45px;
    background-color: #5335e9;
    border-radius: 10px;
    color: whitesmoke;
    font-weight: bold;
}